@tailwind base;
@tailwind components;
@tailwind utilities;

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: rgb(14, 7, 46);
    @apply text-white
}

input {
    background-color: rgb(38, 23, 101);
    ;
}