@tailwind base;
@tailwind components;
@tailwind utilities;

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: rgb(2, 8, 37);
    @apply text-white
}

input {
    background-color: rgb(8, 4, 27);

}